[submodule "HHS-UI"]
	path = HHS-UI
	url = git@dev.visionistinc.com:data_science/HHS-UI.git
[submodule "HHS-API"]
	path = HHS-API
	url = git@dev.visionistinc.com:data_science/HHS-API.git
[submodule "HHS-Theme"]
	path = HHS-Theme
	url = git@dev.visionistinc.com:data_science/HHS-Theme.git
