@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import "../scss/palette.scss";
@import '~react-leaflet-markercluster/dist/styles.min.css';

:global {
  html,
  body {
    margin: 0;
    height: 100%;
    width: 100%;
  }

  * {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.5px;
  }

  .leaflet-touch .leaflet-bar a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Header {
  flex: 0 0 auto;
  box-shadow: 0px 11px 8px -9px rgba(0, 0, 0, 0.27058823529411763);
  z-index: 1;
  overflow: hidden;
  transition: height 1s cubic-bezier(0.77, 0, 0.02, 1);
}

.Bumper {
  flex: 1 1 auto;
  position: relative;
  z-index: 0;
  composes: flex-stretch from "../scss/flex.scss";
}

.Footer {
  flex: 0 0 auto;
  height: 90px;
  box-shadow: 0px -11px 8px -9px rgba(0, 0, 0, 0.27058823529411763);
  z-index: 1;
}
