@import "../../../scss/palette.scss";

.Spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Divider {
  height: 2px;
  background: #e8eef4;
  margin-top: 20px;
  margin-bottom: 15px;
}

.Sup {
  color: #17436b;
}

.Subnote {
  display: flex;
  flex-direction: row;
  > div {
    margin-left: 3px;
  }

  > div:last-child {
    font-size: 0.9em;
    letter-spacing: 0;
  }
}

:global {
  .info-tooltip-button {
    font-size:19px;
    margin-left: 5px;
  }

  .info-tooltip {
    font-size: 17px;
    pointer-events: auto;
    max-width: 250px;
    opacity: 1 !important;
    &:hover {
      visibility: visible;
    }
  }

  .risk-factor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      font-size: 15px;
    }

    .value {
      font-weight: bold;
      flex-basis: 0;
      margin-left: 3px;
    }
  }
}
