@import "../../scss/palette.scss";

.InfoPanel {
  overflow: visible;
  position: absolute;
  max-height: 75%;
  min-height: 1px;
  opacity: 0.9;
  width: 375px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 15px 15px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  background: $color-white;
  z-index: 999;
  transition: height 1s cubic-bezier(0.77, 0, 0.02, 1), opacity 0.75s;
}

.HiddenInfoPanel {
  opacity: 0;
  pointer-events: none;
}

.InfoPanelCloseButton {
  float: right;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 36px;
  line-height: 20px;
  &:hover {
    cursor: pointer;
  }
}
