@import "../../scss/palette.scss";

.InfoPanel {
  overflow: auto;
  position: absolute;
  max-height: 75%;
  min-height: 1px;
  width: 425px;
  margin-top: 65px;
  margin-left: 40px;
  padding: 25px;
  padding-bottom: 35px;
  padding-right: 45px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  background: $color-white;
  z-index: 999;

  transition: height 1s cubic-bezier(0.77, 0, 0.02, 1);
}
