.Container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Image {
  max-width: 85px;
  max-height: 85px;
  opacity: 0.75;
}
