.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0px 30px;
  height: 100%;
  box-sizing: border-box;
}

.Info {
  padding-left: 35px;
  width: 600px;
  font-size: 0.8em;
  padding-right: 25px;
}

.Links {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  font-size: 0.9em;
  font-weight: bold;
  color: #17436b;
  cursor: pointer;
  * {
    letter-spacing: 0 !important;
  }
  div:last-child {
    margin-left: 25px;
  }
  > div:hover {
    text-decoration: underline;
  }
}

.LinkIcon {
  font-size: .9 * 1.4em; // golden ratio to match link font size
  color: #d7363b;
    margin-right: 5px;
}
